.dialog-title{
    font-size: 1.2rem;
}

.dialog-btns-container{
    display: flex;
    justify-content: space-around;
}

.dialog-btn{
    background-color: #6f6f6f;
    color: white;
    border-radius: 5px;
    width: 60px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dialog-btn:hover{
    background-color: #505050;
}