<mat-list role="list" class="pokemon-list__container" >
    <mat-list-item *ngFor="let pokemon of pokemons" role="listitem" class="pokemon__item" [@simpleFadeAnimation]="'in'">
        <img  *ngIf="pokemon.imageUrl" [src]="pokemon.imageUrl">
        <div class="pokemon-item-text">{{pokemon.name}}</div>
        <div [ngStyle]="{'visibility': isFromList && pokemon.isOnCart ? 'hidden' : 'show'}" (click)="cartAction(pokemon)" class="pokemon-item-btn">
            {{isFromList ? '+' : '-'}}
        </div>
    </mat-list-item>
</mat-list>
